@import url("https://fonts.googleapis.com/css?family=Amita");

body {
  font-family: "Amita", serif;
  font-size: 20px;
}

#loader {
  opacity: 0.2;
  height: 80px;
}

#schedule {
  margin: 50px auto;
  text-align: center;
  list-style: none;
}

#schedule li:first-child:before,
#schedule li:first-child:after {
  display: block;
  opacity: 0.3;
  font-size: 0.5em;
}

#schedule li:first-child:before {
  content: "Currently:";
  margin-bottom: -0.5em;
}

#schedule li:first-child {
  font-size: 3em;
}

#schedule li:first-child:after {
  content: "Soon:";
  margin-top: 1em;
}
